<% i = 0 %>
<% if @lots.length > 0 %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Código<span class="order_arrow"></span></th>
        <th>Fecha<span class="order_arrow"></span></th>
        <th>Orden de Producción<span class="order_arrow"></span></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @lots.each do |item| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td class="center"><%=h item.code %></td>
        <td><%=h item.date %></td>
        <td><%=h item.order.code %></td>
        <td class="center">
          <%= render_action_edit(edit_product_lot_path(item)) %>
          <%= render_action_delete(product_lot_path(item), "Desea borrar el lote '#{item.code}'?") %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @lots %>
  </div>
</div>
<% else %>
<p>No hay lotes registrados</p>
<% end %>
