<% i = 0 %>
<% if @schedules.length > 0 %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Nombre<span class="order_arrow"></th>
        <th>Hora Inicio<span class="order_arrow"></th>
        <th>Hora Fin<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @schedules.each do |item| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td><%=h item.name %></td>
        <td><%= item.start_hour.strftime('%I:%M') %></td>
        <td><%= item.end_hour.strftime('%I:%M') %></td>
        <td>
          <%= render_action_edit(edit_schedule_path(item)) %>
          <%= render_action_delete(schedule_path(item), "Desea borrar el turno '#{item.name}'?") %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <%=raw show_pagination @schedules %>
  </div>
</div>
<% else %>
<p>No hay turnos registrados</p>
<% end %>
