<%= render_error_messages(f.error_messages) %>
<label for="number" class="small">Número:</label>
<div class="field"><%= f.text_field :number, :size=>'10' %> <span>*</span></div>
<label for="code" class="small">Orden Prod.:</label>
<div class="field"><%= f.collection_select :order_id, @orders, :id, :code, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<label for="start_date" class="small">Inicio:</label>
<div class="field"><%= f.datetime_select :start_date, :include_seconds => true, :default=>DateTime.now, :size=>'10' %> <span>*</span></div>
<label for="end_date" class="small">Fin:</label>
<div class="field"><%= f.datetime_select :end_date, :include_seconds => true, :default=>DateTime.now, :size=>'10' %> <span>*</span></div>
<% if session[:user].admin? %>
<label for="user_id" class="small">Usuario:</label>
<div class="field"><%= f.collection_select :user_id, @users, :id, :login, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<% else %>
<%= f.hidden_field :user_id %>
<% end %>
<label for="schedule_id" class="small">Turno:</label>
<div class="field"><%= f.collection_select :schedule_id, @schedules, :id, :name, {:include_blank => true}, :class=>'chzn-select chzn-field-normal' %> <span>*</span></div>
<div class="clearfix"></div>
<br/><span class="required">* Campos obligatorios</span>
