<% i = 0 %>
<% if @batches.length > 0 %>
<table id="tabledata">
    <thead>
      <tr>
        <th>Número<span class="order_arrow"></th>
        <th>Orden Prod.<span class="order_arrow"></th>
        <th>Tolva<span class="order_arrow"></th>
        <th>Cantidad<span class="order_arrow"></th>
        <th>Inicio<span class="order_arrow"></th>
        <th>Fin<span class="order_arrow"></th>
        <th>Usuario<span class="order_arrow"></th>
        <th>Turno<span class="order_arrow"></th>
        <th class="actions_small">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% @batches.each do |item| %>
      <% class_row, i = alternate_row_class(i) %>
      <tr class="<%= class_row %>">
        <td><%=h item.number %></td>
        <td><%=h item.order.code %></td>
        <td><%=h item.hopper.number %></td>
        <td><%=h item.amount %></td>
        <td><%=h item.start %></td>
        <td><%=h item.end %></td>
        <td><%=h item.user.login %></td>
        <td><%=h item.schedule.name %></td>
        <td>
          <%= render_action_edit(edit_batche_path(item)) %>
          <%= render_action_delete(batche_path(item), "Desea borrar el batch '#{item.number}' de la OP '#{item.order.code}'?") %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<div id="tablefooter">
  <div id="pagination">
    <!--=raw show_pagination @batches %-->
  </div>
</div>
<% else %>
<p>No hay batches registrados</p>
<% end %>
